{% extends "layout.html" %}
{% block body %}
    <div class="row">
        <div class="large-7 large-centered columns"><h2>Please enter a link to shorten:</h2></div>
    </div>
    <form method=POST action="{{ url_for('add') }}">
        {{ form.hidden_tag() }}
        <div class="row">
            <div class="large-1 columns">{{ form.title.label }}</div>
            <div class="large-11 columns">{{ form.title(size=10) }}</div>
        </div>
        <div class="row">
            <div class="large-1 columns">{{ form.original.label }}</div>
            <div class="large-11 columns">{{ form.original(size=50)}}</div>
        </div>
        <div class="row">
            <div class="large-1 columns">{{ form.description.label }}</div>
            <div class="large-11 columns">{{ form.description(size=72)}}</div>
        </div>
        <div class="row">
            <div class="large-1 large-centered columns">
                <input type=submit value=Submit>
            </div>
        </div
    </form>
{% endblock %}
