{% extends "layout.html" %}
{% block body %}
 <div class="row">
  <div class=" small-12 columns">
    <h4>All Links</h4>
  </div>
 </div>
 <ul class="pagination">
 {% for link in links %}
  <div class="row">
   <div class=" small-10 columns">
    <strong> {{link.title}}:</strong> <a href="/urly/{{ link.short }}" target="_blank">/urly/{{ link.short }}</a>
     {% if link.description %}
      <br>{{ link.description }}
     {% endif %}
   </div>
  </div>
  <div class="row">
   <hr>
  </div>
 {% endfor %}
 </ul>
{% endblock %}
