{% extends "layout.html" %}

{% block body %}
    <h3>Recent Bookmarks</h3>
    {% for url in urls %}
        <div class="row">
            <div class="small-1 columns"></div>
            <div class="small-8 columns">
                <div>
                    <h5>{{ url.name }}</h5>
                </div>
                <div>
                    <a href="http://localhost:5000/b/{{ url.short_address }}">http://localhost:5000/b/{{ url.short_address }}</a>
                </div>
            </div>
            <div class="small-3 columns"></div>
        </div>
    {% endfor %}

{% endblock %}
