{% extends "layout.html" %}
{% block body %}

{% if current_user.is_authenticated() %}

    <div class="row">
        <div class=" small-12 columns">
          <h4>Your Links</h4>
        </div>
    </div>
    <ul class="pagination">
    {% for link in links %}
          <div class="row">
             <div class=" small-12 columns">
              <strong> {{link.title}}:</strong> <a href="{{ link.long }}" target="_blank">http://urly/{{ link.short }}</a>
                {% if link.description %}
                     <br>{{ link.description }}
                {% endif %}
              </div>
          </div>
          <div class="row">
            <hr>
          </div>

    {% endfor %}
  </ul>

  {% endif %}



{% endblock %}
