<!doctype html>
<head>
    <title>Urly-Bird Link Shortner</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}">
</head>
<div class=page>
    <h1>Urly-Bird Link Shortner</h1>

    <div class=metanav>
        {% if request.path != "/" %}
            <button onclick="location.href='{{url_for('index')}}'">Home</button>
        {% endif %}
        {% if request.path != "/show_all" %}
        <button onclick="location.href='{{ url_for('show_all') }}'">All URLs</button>
        {% endif %}
        {% if current_user.is_authenticated() %}
            <button onclick="location.href='{{url_for('logout')}}'">Log Out</button>
            <div class=align-right>
                <h2>Hello, {{ current_user.name }}</h2>
            </div>
        {% else %}
            <button onclick="location.href='{{url_for('login')}}'">Log In</button>
            <div class=align-right>
                <a class=metanav href="{{ url_for('create_user') }}">Create New Account</a>
            </div>
        {% endif %}
    </div>
    {% for message in get_flashed_messages() %}
        <div class=flash>{{ message }}</div>
    {% endfor %}
    {% block body %}
    {% endblock %}
</div>
