{% extends "layout.html" %}

{% block body %}

 <div class="row">
   <div class ="small-12 columns">
    <h3>Link: {{ link.title }}</h3>
    <h4>Clicks</h4>
    <img src="{{ url_for("linksb.link_clicks_chart", id=link.id) }}" />
    <div class="large-8 large-offset-2 columns">
    <table>
     <thead>
       <tr>
         <th width="200">Country</th>
         <th width="150">Clicks</th>
       </tr>
     </thead>
     <tbody>
       <h4>Clicks per urly Link in last 30 days</h4>
      <div class="row">
    {% for country, num_clicks in countries %}
      <tr>
        <td><strong> {{country}}</strong></td>
        <td>{{num_clicks}}</td>
      </tr>

    {% endfor %}
  </div>
   </div>
   </div>
    </tbody>
   </table>
 </div>
</div>
{% endblock %}
