{% extends "layout.html" %}
{% block body %}
    <div class="row">
        <div class="large-3 columns"></div>
        <div class="large-6  large-centered columns">
            <h2>All submitted links:</h2>
        </div>
        <div class="large-3 columns"></div>
    </div>
    {% for link in links.items %}
        <div class="row">
            <div class="large-9 large-centered columns">{{ link.title }}:
            <a href="http://stormy-bastion-5647.herokuapp.com/{{ link.short }}" title="{{ link.description }}">
            http://stormy-bastion-5647.herokuapp.com/{{ link.short }}</a></div>
        </div>
    {% endfor %}
    <div class="row">
        <div class="large-5 large-centered columns">
            {% if links.prev_num > 0 %}
                <button class="tiny" onclick="location.href='{{ url_for('links.show_page', page=links.prev_num)}}'">Previous</button>
            {% endif %}
            {% if links.next_num <= links.pages %}
                <button class="tiny" onclick="location.href='{{ url_for('links.show_page', page=links.next_num)}}'">Next</button>
            {% endif %}
        </div>
    </div>

{% endblock %}
