{% extends "layout.html" %}
{% block body %}
    <div class="row">
        <div class="large-3 columns"></div>
        <div class="large-6  large-centered columns">
            <h2>All submitted links:</h2>
        </div>
        <div class="large-3 columns"></div>
    </div>
    {% for link in links %}
        <div class="row">
            <div class="large-6 large-centered columns">{{ link.title }}:
            <a href="http://stormy-bastion-5647.herokuapp.com/{{ link.short }}" title="{{ link.description }}">
            hhttp://stormy-bastion-5647.herokuapp.com/{{ link.short }}</a></div>
        </div>
    {% endfor %}
{% endblock %}
