{% extends "layout.html" %}

{% block body %}
    <p></p>
    <div class="row">
        <div class="small-1 columns"></div>
        <div class="small-8 columns">
            <form action="{{ url_for('urls.sites') }}" method="POST">
                <h3>Add a URL</h3>
                {{ form.hidden_tag() }}
                <div>
                    {{ form.title.label }}{{ form.title(size=20) }}
                </div>
                <div>
                    {{ form.address.label }}{{ form.address() }}
                </div>
                <div>
                    {{ form.description.label  }}{{  form.description() }}
                </div>
                <div>
                    <input type='submit' value='Add' class="button">
                </div>
            </form>
        </div>
        <div class="small-3 columns"></div>
    </div>

    {% for url in urls %}
        <form action="/e/{{ url.short_address }}" method="GET">
            <div class="row">
                <div class="small-1 columns"></div>
                <div class="small-8 columns">
                    <div>
                        <h4>{{ url.name.title() }}</h4>
                    </div>
                    <div>
                        <a href="{{ url.long_address }}">{{ url.long_address }}</a>
                    </div>
                    <div>
                        <a href="{{ domain }}b/{{ url.short_address }}">{{ domain }}b/{{ url.short_address }}</a>
                    </div>
                    <div>
                        {{ url.description }}
                    </div>
                </div>
                <div class="small-3 columns"></div>
            </div>
            <div class="row">
                <input type="submit" value="Edit" class="button">
                <a href="{{ domain }}d/{{ url.short_address }}" class="button">Delete</a>
            </div>
        </form>
        <p></p>


    {% endfor %}

{% endblock %}