{% extends "layout.html" %}

{% block body %}
    <h2>All Chops</h2>

    <!-- {% set block_count = 3 %}

    <ul class="blocks-{{ block_count }}">
        {% for link in links %}
            <li class="link {% if loop.index % block_count == 1 %}block-first{% endif %}">
                <a href="{{ links.shortlinks }}">{{ links.title }}</a>
                {% if links.description %}
                    <br/>
                    {{ links.description }}
                {% endif %}

                {% if current_user.is_active() %}
                    <div class="chop-actions">
                        {% if link in current_user.all_links %}
                            <em>favorite</em>
                        {% else %}
                            <form action="{{ url_for("add_link") }}" method="post">
                                <input type="hidden" name="links_id" value="{{ links.id }}"/>
                                <input type="submit" value="IGNORE THIS, NOT CORRECT"/>
                            </form>
                        {% endif %}
                    </div>
                {% endif %}
            </li>
        {% endfor %}
    </ul> -->


{% endblock %}
