{% extends "layout.html" %}

{% block body %}
    <h2>urlChop</h2>

    {% for book in books %}
        <div class="book">
            <a href="{{ book.url }}">{{ book.title }}</a>
            {% if book.description %}
                <br/>
                {{ book.description }}
            {% endif %}
        </div>
    {% endfor %}
{% endblock %}

<!--
{% extends "layout.html" %}

{% block body %}
    <h1>Make a new task</h1>
    <form action="{{ url_for('add_todo') }}" method="post">
        <input type="text" name="text"/>
        <input type="date" name="date"/>
        <input type="submit" value="Create New Task"/>
    </form>
    <h1>All todos</h1>
    <form action="{{ url_for('complete') }}" method="post">
        <ul>
            {% for todo in todos %}
                <li>
                    <input type="checkbox" name="todo" id="todo-{{ todo.id }}" value="{{ todo.id }}"/>
                    <label for="todo-{{ todo.id }}">{{ todo.text }}</label>
                    <label for="todo-{{ todo.duedate }}">{{ todo.duedate }}</label>
                </li>
            {% endfor %}
        </ul>
        <input type="submit" value="Mark checked as done"/>
    </form>
    <h2>Already Done</h2>
    <ul>
        {% for todo in completed %}
            <li>
              <label for="todo-{{ todo.completed }}">{{ todo.completed }}</label>
              {{ todo.text }}
            </li>
        {% endfor %}
    </ul>
{% endblock %} -->
