{% extends "layout.html" %}

{% block body %}

    <div class='row'>

        <div class="large-8 columns">
          <fieldset>
            <legend>{{ bookmarkuser.bookmark.title }} Bookmark Trend</legend>
            <img src="{{ url_for('fig', int_id = bookmarkuser.bookmark.id) }}" alt="{{ bookmarkuser.bookmark.title }}">
          </fieldset>
          <a href='/dashboard'><button type="submit" class='button tiny'>Back To Dashboard</button></a>
        </div>
      </form>
    </div>

{% endblock %}
