{% extends "layout.html" %}

{% block body %}

<div class="large-12 columns">
  <fieldset>
    <h2>Your Links</h2>
      <div class='links'>
        <a class='button round success' href='/addlink'>Add New Link</a>
        {% if current_user.links is not none %}
          {% for links in link_list %}
            <li>127.0.0.1:5000/b/{{ links.short }} {{ links.text }}
                <a class='button round success' href='/b/{{ links.short }}'>Go Here</a>
                <a class='button round success' href='{{url_for('edit_bookmark', id=links.id) }}'>Edit Bookmark</a><br>
          {% endfor %}
        {% endif %}
      </div>
  </fieldset>
</div>
</div><br>

{% endblock %}
