{% extends "layout.html" %}

{% block body %}
<br>
<br>
<form method="POST" action="{{ url_for('bookmark') }}">
  {{ form.hidden_tag() }}
  <div>
    {{ form.longurl.label }} {{ form.longurl(size=100) }}

  </div>
  <div>
    {{ form.title.label }} {{ form.title(size=20) }}
  </div>
  <div>
    {{ form.summary.label }} {{ form.summary(size=100) }}
  <input type="submit" value="Create">
</form>

<div>
  <br>
  <br>
  <a href ="{{ url_for('index')}}">Nevermind, return to the index.</a>
</div>
{% endblock %}
