<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title></title>
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='normalize.css') }}"> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/foundation.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='js/modernizr.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/foundation.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/topbar.js') }}"></script>
    {% include "nav.html" %}
</head>
<body>
<div id="wrapper">
    {% block header %}
        <header>
        </header>
        {% for message in get_flashed_messages() %}
            <div class="flash">
                {{ message }}
            </div>
        {% endfor %}
    {% endblock %}
    {% block body %}{% endblock %}
    {% block footer %}
        <footer>
        </footer>
    {% endblock %}
</div>
</body>
</html>

