{% extends "layout.html" %}

{% block body %}
<div>
  <br>
  <a href ="{{ url_for('bookmark')}}"><h1>Add a bookmark!</h1></a>
</div>

<h2>Your links</h2>

{% for bookmark in bookmark_list %}
<div class="bookmark">
  <a href="{{ url_for('go_to_bookmark', shorturl=bookmark.shorturl)}}">{{ bookmark.title }}</a>
</div>
<div>
  {{ bookmark.shorturl }}
</div>
<div>
  {% if bookmark.summary %}
  {{ bookmark.summary }}
  {% endif %}
</div>
<div>
  <a href="{{ url_for('bookmark_data', id=bookmark.id)}}">Click Data</a>
</div>
<div>
  <br>
</div>
{% endfor %}


{% endblock %}
