{% extends "layout.html" %}
{% block nav %}
<div class = metanav>
{% if current_user.is_authenticated() %}
<a href="{{ url_for('logoff') }}">Logout</a>
<a href="{{ url_for('index') }}">Homepage</a>
{% else %}
<a href = "{{ url_for('register') }}">Register</a>
<a href="{{ url_for('login') }}">Log in</a>
{% endif %}
{% endblock %}
{% block body %}
<h3>User Page</h3>
<h2>Enter a link to shorten.</h2>
<form  method="POST" action="{{ url_for("shorten_link") }}">
  {{ form.hidden_tag() }}
  <div>
    {{form.title.label }} {{ form.title(size=20) }}
    {{ form.url.label }} {{ form.url(size=30) }}
  </div>
  <input class="submit_link" type="submit" value="Shorten">
</form>
<h3>Your links</h3>
{% for link in links %}
    <div float:right class="user_link" >
      <b>{{ link.title }} </b> &nbsp <a href = {{url_for("go_to_bookmark",
                      shortlink = link.shortlink)}}>{{link.shortlink}}</a>
                      &nbsp

                      <form action = {{url_for("edit_link", id = link.id)}}>
                      <input class="button" type=submit value="edit" input/>
                      </form>

                      <form action = {{url_for("show_data", id = link.id)}}>
                      <input class="button" type=submit value="Data" input/>
                      </form>

                      <form action="{{ url_for('rm_bookmark') }}"
                      method=post class=delete->
                      <input class = "button" type=hidden value=
                      "{{ link.shortlink }}"name="link_to_delete"></input>
                      <input class="button" type=submit value  = "delete" input/>

                      </br></br>
                      </form>
    </div>
{% endfor %}
{% endblock %}
