# extends 'base.html'

# block header
  <div class="jumbotron">
    <div class="container">
      <h1>URLy</h1>
      <p>Sharing thoughts with the world</p>
    </div>
  </div>
# endblock

# block content
  <div class="row">
    <div class="col-sm-6 col-md-4 col-lg-3">
      <h2>Breathe</h2>
      <p>Your mind will wander, and that’s OK. Just gently return your attention to your breath, noticing your thoughts as they arise, then going back to the breath. It’s a gentle thing, the breath: it fills you, then leaves softly, without you noticing most times, without you needing to worry about it.Your mind wanders, and you come back. You pay attention to the quality of the breath, and your body as your chest rises and falls, your shoulders move, your back is slumped a bit, your butt is perhaps a little sore from sitting.</p>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3">
      <h2>Moment</h2>
      <p>You notice this moment, and realize that in this moment, everything is OK. This moment is complete, without the worries and distractions. When you return to your anxieties, fears … these emerge from the mind unbidden, just as all your thoughts do. They are temporary conditions, like clouds passing. They aren’t of any consequence if you just notice them, acknowledge them, let them move on. You return to the breath, and the anxieties are forgotten for a second as you see the breath.</p>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3">
      <h2>Wander</h2>
      <p>Your mind wanders again, fears arising, desires for distractions and pleasures coming up. These are selfish little things, the fears and desires, that are looking for comfort and trying to avoid discomfort. You go back to the breath, and notice the body, and your surroundings, all perfect in this moment. For a second, your worries about the comfort of your self is forgotten. The self is not a concern when you’re fully in the moment, though it will assert itself again. The self and its fears and desires and anxieties and urges return, then you go back to the breath and they’re gone.</p>
    </div>
    <div class="col-sm-6 col-md-12 col-lg-3">
      <h2>Ebb & Flow</h2>
      <p>Like the ebb and flow of tides, the self and the moment surge back and forth, with you caught up in the waves between them. You stay with the breath for a moment, and for that moment … you are no longer there. There’s just the breath, the body, and all that’s around you.</p>
    </div>
  </div>
# endblock
